In [1]:
'''
%pip install pandas
%pip install scikit-learn
%pip install xgboost
'''

'\n%pip install pandas\n%pip install scikit-learn\n%pip install xgboost\n'

In [2]:
import pandas as pd
import numpy as np


from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline

from sklearn.metrics import mean_absolute_error
from sklearn.ensemble import GradientBoostingRegressor

## Data loading

In [3]:
df_bu_feat = pd.read_csv("data/bu_feat.csv.gz") 
df_train = pd.read_csv("data/train.csv.gz") 
df_test = pd.read_csv("data/test.csv.gz")

### Merging features

In [4]:
df_train_feat = pd.merge(df_train, df_bu_feat, how="left", on = "but_num_business_unit")
df_test_feat = pd.merge(df_test, df_bu_feat, how="left", on = "but_num_business_unit")

### Split train, val set

In [5]:
df_train_feat

,day_id,but_num_business_unit,dpt_num_department,turnover,but_postcode,but_latitude,but_longitude,but_region_idr_region,zod_idr_zone_dgr
0,2017-09-30,64,127,580.308443,16400,45.625172,0.111939,70,10
1,2017-09-30,119,127,1512.995918,74100,46.195037,6.254448,51,4
2,2017-09-30,4,88,668.593556,6600,43.600994,7.078160,55,10
3,2017-09-30,425,127,0.000000,59000,50.617921,3.084186,33,3
4,2017-09-30,513,73,0.000000,33610,44.717366,-0.733429,33,3
...,...,...,...,...,...,...,...,...,...
277714,2012-12-29,131,73,1.461821,69760,45.822363,4.767741,8,4
277715,2012-12-29,237,127,759.283046,13500,43.430995,5.047929,71,10
277716,2012-12-29,129,117,1716.399152,14124,49.154936,-0.287441,30,6
277717,2012-12-29,468,127,1307.357057,94320,48.757857,2.385381,75,6
277718,2012-12-29,54,73,53.337413,13127,43.436266,5.256322,71,10

In [6]:
# Train and val set

df_train_feat["day_id"] = pd.to_datetime(df_train_feat["day_id"])
df_train_feat["day_id_week"] = df_train_feat.day_id.dt.isocalendar().week
df_train_feat["day_id_month"] = df_train_feat["day_id"].dt.month
df_train_feat["day_id_year"] = df_train_feat["day_id"].dt.year

df_train = df_train_feat[(df_train_feat.day_id_year < 2017)]
df_val = df_train_feat[(df_train_feat.day_id_year == 2017)]

y_train = df_train.turnover
y_val = df_val.turnover

### Scikit pipeline

In [7]:
from sklearn.base import BaseEstimator, TransformerMixin

In [8]:
class CustomPreprocressing(BaseEstimator, TransformerMixin):
    """
    This class includes all the steps for the preprocessing
    """
    def __init__(self, cat_cols):
        """
        Initialize the class / Can be empty
        """
        self.cat_cols = cat_cols

    def fit(self, X, y=None):
        """
        This method is only created so that the pipeline containing this transformer does not raise an error
        """
        return self

    def transform(self, data):
        """
        Inputs :
          -- data : DataFrame, DataFrame contening all the data needed for the model
        Outputs :
          -- DataFrame, DataFrame prepared for modeling

        """
        data["day_id"] = pd.to_datetime(data["day_id"])
        data["day_id_week"] = data.day_id.dt.isocalendar().week
        data["day_id_month"] = data["day_id"].dt.month
        data["day_id_year"] = data["day_id"].dt.year
        data[self.cat_cols] = data[self.cat_cols].apply(lambda x: x.astype(str))
        return data

In [9]:

num_attrib = ["but_latitude","but_longitude", 'day_id_year']
cat_attrib = [
            "day_id_week",
            "day_id_month",
            "but_region_idr_region",
            "zod_idr_zone_dgr",
            "but_num_business_unit",
            "dpt_num_department",
        ]

num_pipeline = Pipeline([
    ('std_scaler', StandardScaler()),
])
cat_onehot_pipeline = Pipeline([
    ('encoder', OneHotEncoder(handle_unknown="ignore")),
])
preparation_pipeline = ColumnTransformer([
    ("num",num_pipeline, num_attrib),
    ("cat_onehot", cat_onehot_pipeline, cat_attrib)
])

full_pipeline = Pipeline([
    ('preprocessing', CustomPreprocressing(cat_cols=cat_attrib )),
    ('preparation', preparation_pipeline),
    ('model', GradientBoostingRegressor())
])

In [10]:
df_val

,day_id,but_num_business_unit,dpt_num_department,turnover,but_postcode,but_latitude,but_longitude,but_region_idr_region,zod_idr_zone_dgr,day_id_week,day_id_month,day_id_year
0,2017-09-30,64,127,580.308443,16400,45.625172,0.111939,70,10,39,9,2017
1,2017-09-30,119,127,1512.995918,74100,46.195037,6.254448,51,4,39,9,2017
2,2017-09-30,4,88,668.593556,6600,43.600994,7.078160,55,10,39,9,2017
3,2017-09-30,425,127,0.000000,59000,50.617921,3.084186,33,3,39,9,2017
4,2017-09-30,513,73,0.000000,33610,44.717366,-0.733429,33,3,39,9,2017
...,...,...,...,...,...,...,...,...,...,...,...,...
48763,2017-01-07,97,117,1440.429516,62210,50.407462,2.972838,69,4,1,1,2017
48764,2017-01-07,83,127,1688.739694,42390,45.468710,4.343640,8,4,1,1,2017
48765,2017-01-07,1121,88,43.963324,38230,45.747941,5.183154,178,72,1,1,2017
48766,2017-01-07,218,127,806.474037,31150,43.687736,1.404662,64,10,1,1,2017
48767,2017-01-07,192,127,751.138882,55100,49.142708,5.411407,4,4,1,1,2017

In [11]:
model_final = full_pipeline.fit(df_train, y_train)
y_predict_val = model_final.predict(df_val)

metric_mae = mean_absolute_error(y_val, y_predict_val)
print(metric_mae)

/var/folders/dt/0rph8wwj0ld_0cv19w9m4w900000gn/T/ipykernel_74591/3655981615.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["day_id"] = pd.to_datetime(data["day_id"])
/var/folders/dt/0rph8wwj0ld_0cv19w9m4w900000gn/T/ipykernel_74591/3655981615.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["day_id_week"] = data.day_id.dt.isocalendar().week
/var/folders/dt/0rph8wwj0ld_0cv19w9m4w900000gn/T/ipykernel_74591/3655981615.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["day_id_month"] = data["day_id"].dt.month
/var/folders/dt/0rph8wwj0ld_0cv19w9m4w900000gn/T/ipykernel_74591/3655981615.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["day_id_year"] = data["day_id"].dt.year
/var/folders/dt/0rph8wwj0ld_0cv19w9m4w900000gn/T/ipykernel_74591/3655981615.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[self.cat_cols] = data[self.cat_cols].apply(lambda x: x.astype(str))
/var/folders/dt/0rph8wwj0ld_0cv19w9m4w900000gn/T/ipykernel_74591/3655981615.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["day_id"] = pd.to_datetime(data["day_id"])
/var/folders/dt/0rph8wwj0ld_0cv19w9m4w900000gn/T/ipykernel_74591/3655981615.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["day_id_week"] = data.day_id.dt.isocalendar().week
/var/folders/dt/0rph8wwj0ld_0cv19w9m4w900000gn/T/ipykernel_74591/3655981615.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["day_id_month"] = data["day_id"].dt.month
/var/folders/dt/0rph8wwj0ld_0cv19w9m4w900000gn/T/ipykernel_74591/3655981615.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["day_id_year"] = data["day_id"].dt.year
/var/folders/dt/0rph8wwj0ld_0cv19w9m4w900000gn/T/ipykernel_74591/3655981615.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[self.cat_cols] = data[self.cat_cols].apply(lambda x: x.astype(str))

407.2289311686874

In [12]:
df_val

,day_id,but_num_business_unit,dpt_num_department,turnover,but_postcode,but_latitude,but_longitude,but_region_idr_region,zod_idr_zone_dgr,day_id_week,day_id_month,day_id_year
0,2017-09-30,64,127,580.308443,16400,45.625172,0.111939,70,10,39,9,2017
1,2017-09-30,119,127,1512.995918,74100,46.195037,6.254448,51,4,39,9,2017
2,2017-09-30,4,88,668.593556,6600,43.600994,7.078160,55,10,39,9,2017
3,2017-09-30,425,127,0.000000,59000,50.617921,3.084186,33,3,39,9,2017
4,2017-09-30,513,73,0.000000,33610,44.717366,-0.733429,33,3,39,9,2017
...,...,...,...,...,...,...,...,...,...,...,...,...
48763,2017-01-07,97,117,1440.429516,62210,50.407462,2.972838,69,4,1,1,2017
48764,2017-01-07,83,127,1688.739694,42390,45.468710,4.343640,8,4,1,1,2017
48765,2017-01-07,1121,88,43.963324,38230,45.747941,5.183154,178,72,1,1,2017
48766,2017-01-07,218,127,806.474037,31150,43.687736,1.404662,64,10,1,1,2017
48767,2017-01-07,192,127,751.138882,55100,49.142708,5.411407,4,4,1,1,2017

In [13]:
df_val['dpt_num_department'].unique()

array(['127', '88', '73', '117'], dtype=object)

In [14]:
df_val['prediction'] = y_predict_val
filter_ts = lambda x: (x.but_num_business_unit=="32") & (x.dpt_num_department=='73')
display(df_val[filter_ts])

display(df_train[filter_ts])

/var/folders/dt/0rph8wwj0ld_0cv19w9m4w900000gn/T/ipykernel_74591/1857063852.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_val['prediction'] = y_predict_val

,day_id,but_num_business_unit,dpt_num_department,turnover,but_postcode,but_latitude,but_longitude,but_region_idr_region,zod_idr_zone_dgr,day_id_week,day_id_month,day_id_year,prediction
1089,2017-09-30,32,73,452.769296,29490,48.425054,-4.436446,7,6,39,9,2017,469.318872
2519,2017-09-23,32,73,513.263277,29490,48.425054,-4.436446,7,6,38,9,2017,469.318872
3432,2017-09-16,32,73,912.694843,29490,48.425054,-4.436446,7,6,37,9,2017,469.318872
4290,2017-09-09,32,73,831.668945,29490,48.425054,-4.436446,7,6,36,9,2017,469.318872
5599,2017-09-02,32,73,528.774473,29490,48.425054,-4.436446,7,6,35,9,2017,469.318872
6357,2017-08-26,32,73,562.253678,29490,48.425054,-4.436446,7,6,34,8,2017,502.036028
7705,2017-08-19,32,73,898.535514,29490,48.425054,-4.436446,7,6,33,8,2017,502.036028
9811,2017-08-12,32,73,1049.221014,29490,48.425054,-4.436446,7,6,32,8,2017,502.036028
10973,2017-08-05,32,73,1082.103732,29490,48.425054,-4.436446,7,6,31,8,2017,502.036028
12303,2017-07-29,32,73,1155.885670,29490,48.425054,-4.436446,7,6,30,7,2017,502.036028
13101,2017-07-22,32,73,1108.065044,29490,48.425054,-4.436446,7,6,29,7,2017,502.036028
14983,2017-07-15,32,73,821.255374,29490,48.425054,-4.436446,7,6,28,7,2017,502.036028
15933,2017-07-08,32,73,882.308979,29490,48.425054,-4.436446,7,6,27,7,2017,502.036028
16578,2017-07-01,32,73,805.908792,29490,48.425054,-4.436446,7,6,26,7,2017,502.036028
18255,2017-06-24,32,73,603.757965,29490,48.425054,-4.436446,7,6,25,6,2017,502.036028
20068,2017-06-17,32,73,654.133600,29490,48.425054,-4.436446,7,6,24,6,2017,502.036028
21511,2017-06-10,32,73,682.431919,29490,48.425054,-4.436446,7,6,23,6,2017,502.036028
22803,2017-06-03,32,73,606.253866,29490,48.425054,-4.436446,7,6,22,6,2017,502.036028
23570,2017-05-27,32,73,664.164237,29490,48.425054,-4.436446,7,6,21,5,2017,502.036028
25319,2017-05-20,32,73,682.596215,29490,48.425054,-4.436446,7,6,20,5,2017,502.036028
25860,2017-05-13,32,73,543.686640,29490,48.425054,-4.436446,7,6,19,5,2017,502.036028
27747,2017-05-06,32,73,591.718912,29490,48.425054,-4.436446,7,6,18,5,2017,502.036028
28455,2017-04-29,32,73,648.882166,29490,48.425054,-4.436446,7,6,17,4,2017,506.797575
29554,2017-04-22,32,73,569.158877,29490,48.425054,-4.436446,7,6,16,4,2017,506.797575
31320,2017-04-15,32,73,772.867180,29490,48.425054,-4.436446,7,6,15,4,2017,506.797575
31564,2017-04-08,32,73,578.736032,29490,48.425054,-4.436446,7,6,14,4,2017,506.797575
33167,2017-04-01,32,73,519.078466,29490,48.425054,-4.436446,7,6,13,4,2017,506.797575
34998,2017-03-25,32,73,473.399980,29490,48.425054,-4.436446,7,6,12,3,2017,483.424684
35337,2017-03-18,32,73,398.199883,29490,48.425054,-4.436446,7,6,11,3,2017,483.424684
36619,2017-03-11,32,73,322.650987,29490,48.425054,-4.436446,7,6,10,3,2017,483.424684
38171,2017-03-04,32,73,420.665474,29490,48.425054,-4.436446,7,6,9,3,2017,516.987759
39451,2017-02-25,32,73,364.132711,29490,48.425054,-4.436446,7,6,8,2,2017,542.515861
40880,2017-02-18,32,73,344.745782,29490,48.425054,-4.436446,7,6,7,2,2017,542.515861
41441,2017-02-11,32,73,377.148927,29490,48.425054,-4.436446,7,6,6,2,2017,542.515861
42872,2017-02-04,32,73,381.992132,29490,48.425054,-4.436446,7,6,5,2,2017,542.515861
44364,2017-01-28,32,73,358.218690,29490,48.425054,-4.436446,7,6,4,1,2017,572.927272
45245,2017-01-21,32,73,426.260119,29490,48.425054,-4.436446,7,6,3,1,2017,562.849596
47039,2017-01-14,32,73,496.968662,29490,48.425054,-4.436446,7,6,2,1,2017,573.814769
48476,2017-01-07,32,73,264.872180,29490,48.425054,-4.436446,7,6,1,1,2017,572.927272

,day_id,but_num_business_unit,dpt_num_department,turnover,but_postcode,but_latitude,but_longitude,but_region_idr_region,zod_idr_zone_dgr,day_id_week,day_id_month,day_id_year
49581,2016-12-31,32,73,544.941047,29490,48.425054,-4.436446,7,6,52,12,2016
50950,2016-12-24,32,73,1023.650512,29490,48.425054,-4.436446,7,6,51,12,2016
51720,2016-12-17,32,73,1231.944726,29490,48.425054,-4.436446,7,6,50,12,2016
53122,2016-12-10,32,73,657.439375,29490,48.425054,-4.436446,7,6,49,12,2016
54834,2016-12-03,32,73,715.383766,29490,48.425054,-4.436446,7,6,48,12,2016
...,...,...,...,...,...,...,...,...,...,...,...,...
272807,2013-01-26,32,73,317.378897,29490,48.425054,-4.436446,7,6,4,1,2013
274473,2013-01-19,32,73,539.422889,29490,48.425054,-4.436446,7,6,3,1,2013
275216,2013-01-12,32,73,475.406553,29490,48.425054,-4.436446,7,6,2,1,2013
275962,2013-01-05,32,73,229.110309,29490,48.425054,-4.436446,7,6,1,1,2013
276936,2012-12-29,32,73,347.014147,29490,48.425054,-4.436446,7,6,52,12,2012

In [15]:
model_final = full_pipeline.fit(df_train_feat, df_train_feat.turnover.values)

In [16]:
y_pred = model_final.predict(df_test_feat)

In [17]:
df_test_feat['prediction'] = y_pred

In [18]:
display(df_test_feat)

,day_id,but_num_business_unit,dpt_num_department,but_postcode,but_latitude,but_longitude,but_region_idr_region,zod_idr_zone_dgr,day_id_week,day_id_month,day_id_year,prediction
0,2017-11-25,95,73,80000,49.869382,2.280452,69,4,47,11,2017,28.096508
1,2017-11-25,4,117,6600,43.600994,7.078160,55,10,47,11,2017,324.086069
2,2017-11-25,113,127,84014,43.919562,4.867583,115,10,47,11,2017,1333.614589
3,2017-11-25,93,117,13008,43.239744,5.396694,71,10,47,11,2017,357.205467
4,2017-11-25,66,127,34500,43.347835,3.255024,6,10,47,11,2017,1389.478844
...,...,...,...,...,...,...,...,...,...,...,...,...
10131,2017-10-07,61,88,60740,49.238738,2.468513,69,4,40,10,2017,259.168393
10132,2017-10-07,641,117,17810,45.749749,-0.675981,70,10,40,10,2017,241.856927
10133,2017-10-07,724,117,38150,45.327709,4.804922,52,4,40,10,2017,241.856927
10134,2017-10-07,1302,117,74950,46.069548,6.549448,51,4,40,10,2017,324.086069
10135,2017-10-07,1126,88,60590,49.286484,1.799250,178,72,40,10,2017,115.132534

##### Model Serialization

In [19]:
import joblib 
# Save the model
joblib.dump(model_final,"../turnover_forecasting_model.pkl")

['../turnover_forecasting_model.pkl']

##### Model Loading

In [20]:
model = joblib.load('../turnover_forecasting_model.pkl')

##### Testing Prediction

In [21]:
from pydantic import BaseModel
from datetime import datetime

class DonneesEntree(BaseModel):
    but_num_business_unit: int  # store's ID
    dpt_num_department: int  # department's ID
    but_postcode: int  # postal code
    but_latitude: float  # store's latitude
    but_longitude: float  # store's longitude
    but_region_idr_region: int  # region's number
    zod_idr_zone_dgr: int  # zone's number
    day_id : datetime # date

request={"but_num_business_unit":100,
              "dpt_num_department":112,
              "but_postcode":75000,
              "but_latitude":43.34,
              "but_longitude":34.83,
              "but_region_idr_region":23,
              "zod_idr_zone_dgr":10,
              "day_id":2017-11-25}

donnees = DonneesEntree(**request)
donnees_df = pd.DataFrame([donnees.dict()])  # Conversion en DataFrame
donnees_df["day_id"] = pd.to_datetime(donnees_df["day_id"])
donnees_df["day_id_week"] = donnees_df.day_id.dt.isocalendar().week
donnees_df["day_id_month"] = donnees_df["day_id"].dt.month
donnees_df["day_id_year"] = donnees_df["day_id"].dt.year
int(model.predict(donnees_df)[0])

1334